#trackBaddies{
	min-height:500px;
	padding:0px;
	padding-bottom:120px;
	overflow-x:hidden;
}

#trackBaddies li{
	width:100%;
	list-style:none;
	float:left;
}

#trackBaddies .Bad{
	  -webkit-box-shadow: inset 0 1px 20px rgba(217, 83, 79, 0.3);
          box-shadow: inset 0 1px 20px rgba(217, 83, 79, 0.3);
}

#trackBaddies .Good{
	  -webkit-box-shadow: inset 0 1px 20px rgba(71, 164, 71, 0.3);
          box-shadow: inset 0 1px 20px rgba(71, 164, 71, 0.3);
}

#trackBaddies .Neutral{
	  -webkit-box-shadow: inset 0 1px 20px rgba(125, 125, 125, 0.3);
          box-shadow: inset 0 1px 20px rgba(125, 125, 125, 0.3);
}

#trackBaddies li *{
	float:left;
}

#trackBaddies li label{
	margin:5px 4px 5px 10px;
}

#trackBaddies li input[type="text"]{
	width:150px;	
}
#trackBaddies li input[type="number"]{
	width:60px;	
}

#trackBaddies li select{
	width:100px;	
}
#buttonContainer{
	padding:20px;
	position:fixed;
	bottom:0px;
	left:20px;
	background-color:#EEE;
}
#buttonContainer *{
	float:left;
}
#buttonContainer #JS-sortHigh{
margin-left:20px;	
}
#buttonContainer #JS-sortLow{
	margin-left:20px;
}
#buttonContainer #JS-instructions{
	clear:left;
	margin-top:20px;
}
#buttonContainer #JS-transparency{
	margin-left:20px;
	margin-top:20px;
}

#buttonContainer.transparent{
	background-color:rgba(187,187,187,0.25);
}
#buttonContainer.transparent #JS-transparency{
	background-color:rgba(51,51,51,0.3);
}
#buttonContainer.transparent #JS-sortHigh, #buttonContainer.transparent #JS-sortLow{
	background-color:rgba(57,179,215,0.3);
}
#buttonContainer.transparent #JS-sortHigh:hover, #buttonContainer.transparent #JS-sortLow:hover{
	background-color:rgba(57,179,215,0.5);
}

#buttonContainer.transparent #JS-addNew{
	background-color:rgba(255,255,255,0.5);
}
#buttonContainer.transparent #JS-addNew:hover{
	background-color:rgba(255,255,255,0.7);
}
#buttonContainer.transparent #JS-instructions{
	background-color:rgba(71,164,71,0.3);
}
#buttonContainer.transparent #JS-instructions:hover{
	background-color:rgba(71,164,71,0.5);
}
